/* .personalInfo {
    margin: 40px;
    background-color: blueviolet;
  }
  
  .App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } */
  
  
  .doctorWrapper {
    border: 1px solid black;
    background-color: goldenrod;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 95vw;
    margin: 50px;
    flex-wrap: wrap;
  }
  
  .contactItem {
    margin: 10px;
  }
  
  .contact {
    background-color: plum;
    margin: 20px;
  }
  
  /* .add-doctor {
    width: 100px;
  } */

  .doc-container {
    margin: 0 500px;
    /* margin-top: 80px; */
    background-color: goldenrod;
    border: 1px solid white;
    height: 60vh;

  }

  .doc-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
  }

  .doc-address {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
  }

  .doctor {
    justify-content: center;
  } 

  .add-doctor {
    background-color: aqua;
  }

  .doctor h5 {
    background-color: aqua;
    margin: 0 500px;
    margin-top: 20px;
  }