.current-meds {
    background-color: greenyellow;
    padding: 5px;
    margin: 0 500px;
    border: 1px solid black;
    transition: .6s;
    overflow: hidden; 
  
}

.add-med-btn {
    background-color: deeppink;
    border-radius: 1em;
    width: 250px;
    transform: translateY(4px);
    box-shadow: black 0.5em 0.5em 0.3em;
}

h3 {
    margin-top: 25px;
}

.med {
    border: 1px solid white;
}